<div class="item" [routerLink]="['/product', item._id]" *ngIf="item">
    <div class="title">
        {{item.description}}
    </div>
    <div class="img">
        <img [src]="item.imageUrl">
    </div>
    <div class="price">
        <span> {{item.price | currency}}</span>
        {{item.price | discount:0.1 | currency}}
    </div>

    <button class="btn btn-success" (click)="addToCartClicked()" *ngIf="!existInCart; else elseBlock">Add To
        Cart</button>
    <ng-template #elseBlock>
        <button class="btn btn-danger" (click)="removeFromCartClicked()">Remove From Cart</button>
    </ng-template>

    <ng-content></ng-content>
</div>